# Anomaly Detection Project Scratchpad

### James Allen

In [3]:
# imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
from sklearn import metrics
from env import user, host, password
from acquire import get_connection, curriculum_data, get_curriculum_data

In [4]:
# getting the curriculum data from the codeup database
df = get_curriculum_data()

In [5]:
df.head() # check_yo_head

,date,time,path,user_id,cohort_id,ip,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,None,1
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,None,1
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,None,1
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,None,1
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,2,Badlands,#badlands,2014-06-04,2014-08-22,2016-06-14 19:52:26,2016-06-14 19:52:26,None,1

In [9]:
df.groupby('path').sum()

                          user_id  cohort_id      id  program_id
path
/                          101225   113844.0  101225        6940
00_                             1       28.0       1           1
00_index                        5      140.0       5           5
01_intro                        5      140.0       5           5
02_listing_files                7      196.0       7           7
...                           ...        ...     ...         ...
web-design/ui/color           296      120.0     296          13
web-design/ui/typography      287      140.0     287          12
web-design/ui/visuals         318       84.0     318          12
web-design/ux/layout          393      154.0     393          16
web-design/ux/purpose         424      112.0     424          16

[1442 rows x 4 columns]